#container {
    width: 50%;
    margin: auto;
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}

#guide {
    width: 80%;
    margin: auto;
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 10px;
}