#container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#lblGuess {
    font-size: 20px;
    font-weight: bold;
}

#txtGuess {
    padding: 5px;
    background-color: #212121;
    border: 5px solid #b5b5b5;
    color: #ffffff;
    text-align: center;
}

#btnSubmit {
    padding: 15px;
    background-color: #212121;
    color: #b5b5b5;
    font-weight: bolder;
    border-radius: 15px;
}