/*
body {
    background-color: #212121;
    color: #ffffff;
}
*/

.button {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.grey {
    border: 2px solid black;
    background-color: grey;
}