
body {
    align-items: center;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.button {
    display: inline-block;
    width: 100px;
    height: 100px;
}

#grey {
    border: 2px solid black;
    background-color: grey;
}
#white {
    border: 2px solid black;
    background-color: white;
}
#blue {
    border: 2px solid black;
    background-color: blue;
}
#yellow {
    border: 2px solid black;
    background-color: yellow;
}